.wrapper {
    --height-search: 46px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--height-header);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white-color);
}

.inner {
    width: 1150px;
    height: 100%;
    padding: 0 24px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;

    &:hover {
        cursor: pointer;
    }
}

.logo-image {
    display: flex;
}

// Action Header
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 4px;
    margin-left: 16px;
    cursor: pointer;
}

.action-avt {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    margin-left: 20px;
    cursor: pointer;
}

//
.upload {
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: #fff;
    margin-right: 16px;
    color: #161823;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.upload__icon-plus {
    padding-left: 12px;
}

.upload__name {
    padding: 0 12px;
}

.login {
    background-color: var(--primary);
    color: #fff;
    border: none;

    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}

.menu-btn {
    font-size: 20px;
    margin-left: 16px;
    padding: 4px 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
